* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  font-family: 'Merriweather', serif;
  font-family: 'Inter', sans-serif;

*/

main>section>article>.new_year_image {
  background-image: url("../resources/Banner Image.png");
  background-size: 100%;
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
}

main section .new_year_content {
  width: 1320px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
}

main section .new_year_content>h3 {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main section .new_year_content>h1 {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;

}

main section#two .discount_on_sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

main section#two .discount_on_sale>h3 {
  color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

main section#two .discount_on_sale>h4 {
  color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main section#two .discount_on_sale>p {
  color: #070211;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main section#two .happy_new_year {
  background-image: url('../resources/New\ Year\ Photo.png');
  background-size: contain;
  width: 802.9px;
  height: 500px;
  margin: 50px auto;
}

main section#three .midnight_party {
  background-image: url('../resources/Vectorrr.png');
  background-size: contain;
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  margin: 50px auto;
  padding: 126px 126px 10px 126px
}

main section#three .midnight_party_content>h2 {
  color: #FFF;
  font-family: 'Merriweather', serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-bottom: 20px;
}

main section#three .midnight_party_content>p {
  color: rgba(255, 255, 255, 0.80);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 50px;
}

main section#three .midnight_party_content>button {
  background-color: rgb(255, 229, 29);
  padding: 20px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

}

main section#four {
  height: 482px;
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  margin-bottom: 80px;
}

main section#four .join_now {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

main section#four .join_now>p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

main section#four .join_now>p>span {
  color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  /* 175% */
  text-transform: capitalize;
}

main section#four .join_now>button {
  margin-top: 50px;
  border-radius: 8px;
  background: #F00;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 16px 32px;
  border: none;
  outline: none;

}

main section#five .comming_soon_2024 {
  display: flex;
  width: 1320px;
  height: 470px;
  gap: 100px;
  margin: 50px auto 100px;

}

main section#five .comming_soon_2024>.comming_soon {
  width: 393px;
}

main section#five .comming_soon_2024>.comming_soon>h4 {
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 20px;
}

main section#five .comming_soon_2024>.comming_soon>h2 {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 20px;
}

main section#five .comming_soon_2024>.comming_soon>p {
  color: rgba(7, 2, 17, 0.60);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

}

main section#five .comming_soon_2024>.comming_soon_image {
  background-image: url('../resources/Ellipse\ 1.png');
  background-size: cover;
  width: 364.844px;
  height: 364.844px;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 15px solid #F00;
}

main section#five .comming_soon_2024>.new_year_2024 {
  width: 276px;
}

main section#five .comming_soon_2024>.new_year_2024>h1 {
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main section#five .comming_soon_2024>.new_year_2024>p {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

main section#five .comming_soon_2024>.new_year_2024>img {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

main section#six .holidays_sale_div {
  width: 1320px;
  margin: 50px auto;
}

main section#six .holidays_sale_div>.sale_content {
  display: flex;
  flex-direction: column;
  width: 1068px;
  height: 229px;
  margin: 50px auto;
  text-align: center;

}

main section#six .holidays_sale_div>.sale_content>h5 {
  color: #070211;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main section#six .holidays_sale_div>.sale_content>h1 {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 15px 0;
}

main section#six .holidays_sale_div>.sale_content>h1>span {
  color: #F00;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

main section#six .holidays_sale_div>.sale_content>p {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 80px;

}

main section#six .holidays_sale_div>.sale_image {
  position: relative;
}

main section#six .holidays_sale_div>.sale_image>.discount {
  width: 206.841px;
  height: 206.841px;
  flex-shrink: 0;
  border-radius: 16px 16px 0px 0px;
  position: absolute;
  right: 310px;
  top: 170px;
}

main section#six .holidays_sale_div>.sale_image>.dis_shopping {
  width: 429px;
  height: 433px;
  flex-shrink: 0;
  border-radius: 16px 16px 0px 0px;
  display: inline-flex;
  float: right;
}

main section#six .holidays_sale_div>.voucher_box {
  position: relative;
}

main section#six .holidays_sale_div>.voucher_box>.v_box {
  width: 680px;
  height: 450px;
  flex-shrink: 0;
  position: absolute;
  display: flex;
  bottom: 10px;
}